@charset "UTF-8";

/* 
    Paleta de Cores
    Verde:#4C736F
    Ferrugem: #735451
    Light Ferrugem: #A6938F
    Preto: #1A1126
    Off-white: #E9EEF2
*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    width: 250px;
    height: 500px;
    background-color: #4C736F;
}

main{
    position: relative; 
    height: 100vh;
    width: 100vw;
    display: block;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 500px;
    background-color: white;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);
    display: block;

    transition: width .2s, height .2s;
    transition-timing-function: ease;
}

#form{
    padding: 10px;
    display: block;
}

#form > form > h1{
    text-align: center;
    margin-bottom: 10px;
}

#form > form > p{
    margin-bottom: 10px;
}

div#imagem{
    background-color: #4C736F;
    background-image: url(../imgs/pexels-david-underland-3523621.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    height: 200px;
    display: block;
}